.wrapper {
    margin: 40px;
}

.instructions {
    margin-left: 10px;
    border-bottom: 1px solid lightgray;
    font-style: italic;
}

.edit {
    height: 400px;
    padding: 5px;
    overflow: scroll;
}

nav {
    margin-bottom: 20px;
}

img.logo {
    height: 40px;
    vertical-align: middle;
    margin: 0 20px;
    position: relative;
    top: -4px;
}

.title {
  font-size: 28px;
}